<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guet.match.mapper.SmsTopicMapper" >
  <resultMap id="BaseResultMap" type="com.guet.match.model.SmsTopic" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="contest_id" property="contestId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--dto resultMap-->
  <resultMap id="TopicDtoResultMap" type="com.guet.match.dto.TopicDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <!--nick_name来自constant小程序用户表-->
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <!--avatar_url来自constant小程序用户表-->
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="contest_id" property="contestId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />


  </resultMap>
<!--  dto resultMap end-->


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, open_id, contest_id, parent_id, text, attachment, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guet.match.model.SmsTopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sms_topic
    where id = #{id,jdbcType=BIGINT}
  </select>

<!--查询话题  TopicDto by id-->
  <select id="selectTopicDto" resultMap="TopicDtoResultMap" parameterType="java.lang.Long" >
    select *
    from sms_topic,ums_constant
    where sms_topic.id = #{id,jdbcType=BIGINT}
    and
    sms_topic.open_id = ums_constant.open_id
  </select>
<!-- 查询 TopicDto by id end-->


<!--查询回复列表 by话题id-->
  <select id="selectCommentList" resultMap="TopicDtoResultMap" parameterType="java.lang.Long" >
    select *
    from sms_topic,ums_constant
    where sms_topic.parent_id = #{id,jdbcType=BIGINT}
    and
    sms_topic.open_id = ums_constant.open_id
    order by
    id
    desc
  </select>
<!--查询回复列表 by话题id end-->


<!--  指定赛事下的互动话题列表-->
  <select id="selectTopicList" resultMap="TopicDtoResultMap" parameterType="java.lang.Long" >
    select *
    from sms_topic,ums_constant
    where sms_topic.contest_id = #{id,jdbcType=BIGINT}
    and
    sms_topic.open_id = ums_constant.open_id
  </select>
  <!--指定赛事下的互动话题列表 end-->



  <delete id="deleteTopicOrComment" parameterType="java.lang.Long" >
    delete from sms_topic
    where id = #{id,jdbcType=BIGINT}
    or parent_id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.guet.match.model.SmsTopicExample" >
    delete from sms_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guet.match.model.SmsTopic" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_topic (open_id, contest_id, parent_id, 
      text, attachment, create_time
      )
    values (#{openId,jdbcType=VARCHAR}, #{contestId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{text,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guet.match.model.SmsTopic" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        open_id,
      </if>
      <if test="contestId != null" >
        contest_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="contestId != null" >
        #{contestId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guet.match.model.SmsTopicExample" resultType="java.lang.Integer" >
    select count(*) from sms_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sms_topic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.openId != null" >
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.contestId != null" >
        contest_id = #{record.contestId,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.text != null" >
        text = #{record.text,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null" >
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sms_topic
    set id = #{record.id,jdbcType=BIGINT},
      open_id = #{record.openId,jdbcType=VARCHAR},
      contest_id = #{record.contestId,jdbcType=BIGINT},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      text = #{record.text,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guet.match.model.SmsTopic" >
    update sms_topic
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="contestId != null" >
        contest_id = #{contestId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guet.match.model.SmsTopic" >
    update sms_topic
    set open_id = #{openId,jdbcType=VARCHAR},
      contest_id = #{contestId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      text = #{text,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>